* {
	box-sizing:border-box
}
body {
	font-family:'Microsoft Yahei',Tahoma,Simsun;
	font-size:14px;
	background-size:cover;
	background-attachment:fixed;
	color:#FFF;
	margin:0;
	padding:0;
}
ul {
	list-style:none
}
a:link,a:visited,a:hover,a:active {
	text-decoration:none
}
li {
	list-style-type:none
}
a {
	color:#FFF
}
.clear {
	clear:both
}
.fs12 {
	font-size:12px
}
.hui {
	color:#ccc
}
.container {
	margin-left:auto;
	margin-right:auto;
}
.type {
	width:100%;
	background:#0014ff26;
	margin-top:10px;
	border-radius:2px
}
.type .type_class {
	height:32px;
	border-bottom:1px solid rgba(210,209,209,0.10)
}
.type .type_class .type_class_title {
	width:98px;
	height:32px;
	float:left;
	position:relative;
	border-radius:2px 0 0 0;
	overflow:hidden
}
.type .type_class .type_class_title h2 {
	line-height:32px;
	text-indent:10px;
	font-weight:400;
	margin:0;
	font-size:14px;
	overflow:hidden
}
.type .type_class .type_class_tip {
	line-height:32px;
	float:right;
	margin-right:10px
}
.type ul {
	padding:10px 5px 0 5px;
	margin:0;
}
.type li {
	float:left;
	width:33.33333333333333%;
	height:auto;
	line-height:28px;
	padding-left:5px;
	padding-right:5px;
	text-align:center;
	white-space:nowrap;
	overflow:hidden;
	border-radius:2px;
	padding-bottom:10px;
}
.type li a {
	float:left;
	width:100%;
	text-align:center;
	background:rgba(210,209,209,0.28);
	border-radius:15px;
	border:1px solid #d2d1d100;
}
.type li a:hover {
	background:#ff0000;
	color:#FFF;
}
.bottom {
	margin-top:10px;
	font-size:13px;
	color:#fff;
	text-align:center;
	background-color:#000;
	line-height:25px;
	background:#0014ff26;
	padding-bottom:10px;
	padding-top:10px;
}
#nav-plane-left {
	position:fixed;
	top:10px;
	right:50%;
	margin-right:480px;
	overflow:hidden
}
#nav-plane-left ul {
	z-index:999;
	padding:10px 0;
	border-radius:2px 2px 2px 2px;
	background:#ffffff26;
	margin:0;
}
#nav-plane-left ul li a {
	display:inline-block;
	line-height:40px;
	width:70px;
	text-align:center;
	color:#FFF;
}
#nav-plane-left ul li a:hover {
	background:#ff0000
}
#nav-plane-right {
	position:fixed;
	top:10px;
	left:50%;
	margin-left:480px;
	overflow:hidden
}
#nav-plane-right ul {
	z-index:999;
	padding:10px 0;
	border-radius:2px 2px 2px 2px;
	background:#ffffff26;
	margin:0;
}
#nav-plane-right ul li a {
	display:inline-block;
	line-height:40px;
	width:70px;
	text-align:center;
	color:#FFF;
}
#nav-plane-right ul li a:hover {
	background:#ff0000
}
@media (min-width:480px) {
	.container {
	width:480px
}
}@media (min-width:760px) {
	.container {
	width:760px
}
}@media (min-width:950px) {
	.container {
	width:950px
}
}@media (max-width:479px) {
	.container {
	margin-left:5px;
	margin-right:5px;
}
}@media (min-width:480px) {
	.type li {
	width:33.33333333333333%;
}
}@media (min-width:760px) {
	.type li {
	width:16.66666666666667%;
}
.type li a {
	background:rgba(210,209,209,0.28) center no-repeat;
	text-indent:1px;
}
.type li a:hover {
	background:#ff0000;
	text-indent:1px;
}
}@media (min-width:950px) {
	.type li {
	width:16.66666666666667%;
}
.type li a {
	background:rgba(210,209,209,0.28);
	text-indent:1px;
}
.type li a:hover {
	background:#ff0000;
	text-indent:1px;
}
}
